:root{
    --azul: #1a37b8;
    --blanco: #fff;
    --fondo: #290d4d;
    --deginicio: linear-gradient(to bottom, rgba(123, 44, 214, 0.747), rgba(50, 89, 216, 0.74));
    --deglinea: linear-gradient(to bottom, rgb(123, 44, 214), rgb(50, 89, 216));
    --morado: rgb(94, 30, 212);
    --verde: rgb(38, 202, 167);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: var(--fondo);
    overflow-x: hidden;
}
.inicio .img-inicio{
    background-image: url(img/img7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.inicio .overlay{
    background-image: var(--deginicio);
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}

.corazon{
    width: 150px;
    position: absolute;
}

.corazon.c1{
    bottom: 5%;
    left: 20%;
    transform: rotate(-30deg);
}

.corazon.c2{
    bottom: 8%;
    right: 20%;
}



.inicio .contenedor-titulo{
    color: var(--blanco);
    text-align: center;
    z-index: 10;
    opacity: 100%;
}

.inicio .contenedor-titulo h1{
    font-size: 40px;
    font-family: 'lobster', sans-serif;
}

.inicio .contenedor-titulo h2{
    font-size: 30px;
}

.linea{
    height: 4000px;
    width: 20px;
    background-image: var(--deglinea);
    border-radius: 10px;
    position: absolute;
    top: 800px;
    right: calc(50% - 10px);
    z-index: -10;

}

.punto{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    z-index: -10;
}

.pt1{
    transform: translateY(0) translateX(-20px);
    background-color: rgb(98, 31, 143);
}

.pt2{
    transform: translateY(300px) translateX(-20px);
    background-color: rgb(117, 24, 117);
}

.pt3{
    transform: translateY(600px) translateX(-20px);
    background-color: rgb(16, 90, 133);
}

.pt4{
    transform: translateY(900px) translateX(-20px);
    background-color: rgb(106, 16, 133);
}

.pt5{
    transform: translateY(1200px) translateX(-20px);
    background-color: rgb(90, 16, 133);
}

.pt6{
    transform: translateY(1500px) translateX(-20px);
    background-color: rgb(51, 16, 133);
}

.pt7{
    transform: translateY(1800px) translateX(-20px);
    background-color: rgb(68, 23, 153);
}

.pt8{
    transform: translateY(2100px) translateX(-20px);
    background-color: rgb(37, 16, 133);
}

.pt9{
    transform: translateY(2400px) translateX(-20px);
    background-color: rgb(51, 16, 133);
}

.pt10{
    transform: translateY(2700px) translateX(-20px);
    background-color: rgb(68, 23, 153);
}

.pt11{
    transform: translateY(3000px) translateX(-20px);
    background-color: rgb(37, 16, 133);
}

.pt12s{
    transform: translateY(3300px) translateX(-20px);
    background-color: rgb(37, 16, 133);
}

.seccion{
    display: flex;
    padding: 20px;
    max-width: 850px;
    margin: auto;
}

.seccion .cont-izquierdo{
    width: 50%;
    z-index: 10;
}

.seccion .cont-derecho{
    width: 50%;
    margin-top: 200px;
}

.seccion .img-cont{
    width: 140px;
    height: 140px;
    border-radius: 100px;
    overflow: hidden;
    margin: auto;
}

@media (min-width:650px){
    .seccion .img-cont{
        width: 200px;
        height: 200px;
    }
}

.seccion .img-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.seccion .img-cont img:hover{
    transform: scale(1.2);
    transition: transform 0.4s cubic-bezier(0.29, -0.09, 0.87, 1.9);
}

.sec-texto{
    margin-top: 0px;
    opacity: 0%;
    text-align: center;
    color: var(--blanco);
    transition: opacity 1s ease;
}

.sec-texto h2{
    color: var(--verde);
}

.sec-texto .fecha-evento span{
    color: var(--verde);
    font-weight: bold;
}

.sec-texto .emoji{
    font-size: 40px;
}

.mostrar-texto{
    opacity: 100%;
}

.final{
    background-image: var(--deglinea);
    border-radius: 50px;
    padding: 40px;
    width: 250px;
    margin: 40px auto;
    color: var(--blanco);
    font-size: 14px;
}

.final h2{

    text-align: center;
}
